streamlit==1.45.0
pandas
pydeck
geopy
fpdf
gspread
oauth2client
python-dateutil
requests
opencv-python-headless
streamlit-current-location
werkzeug
google-api-python-client==2.123.0
google-auth==2.40.1
google-auth-oauthlib==1.2.2
